<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edu.lx.onedayworkfinal">

    <permission
        android:name="com.edu.lx.onedayworkfinal.permission.MAPS_RECIEVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.edu.lx.onedayworkfinal.permission.MAPS_RECIEVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSREVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".util.volley.Base"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 각 앱간 파일 공유시 필요(카메라) -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.edu.lx.onedayworkfinal"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".seeker.SeekerMainActivity" />
        <!-- googleMaps Library -->
        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAgQnQTrVIG7rNPGo1L6nDQoVkEqCCzlQE" />

        <!-- GoogleMapService Version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Activity -->
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- detailManage Activity -->
        <activity android:name=".seeker.ManageProjectDetailActivity" />
        <activity android:name=".join.JoinActivity" />
        <activity android:name=".seeker.find.ProjectDetailActivity" />
        <activity android:name=".seeker.find.CandidateActivity" />
        <activity android:name=".offer.OfferMainActivity" />
        <activity
            android:name=".seeker.find.SeekerJobFilterPopupActivity"
            android:theme="@style/PopupTheme" />
        <!-- 다음 맵 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".seeker.info.SelectLocationActivity" />
        <activity
            android:name=".seeker.info.AddCertificateActivity"
            android:theme="@style/PopupTheme" />
        <activity android:name=".offer.manage_commute.OfferManageCommuteDetailActivity" />
        <activity
            android:name=".offer.SeekerInfoPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity android:name=".offer.manage_work.OfferManageWorkActivity" />
        <activity android:name=".offer.manage_work.OfferManageCandidateActivity" />
        <activity android:name=".offer.manage_work.OfferManageHumanResourcesActivity"></activity>
        <activity android:name=".login.findInfo.FindInfoActivity" />
        <activity android:name=".login.findInfo.FindIDActivity" />
        <activity android:name=".login.findInfo.FindPWActivity" />
        <activity android:name=".offer.my_info.OfferDrawSignActivity"
                  android:theme="@style/PopupTheme" />
        <activity android:name=".seeker.manage.ShowContractActivity"/>
    </application>

</manifest>